:root {
    --primary-color: 
    --secondary-color:
    --background-color: #042A2B;
    --text-color: #042A2B;
}
    

body {
    font-family: Courier New, monospace;
    line-height: 1.6;
    margin: 4;
    padding: 0;
    background-color: var(--background-color);
    color: #333;
}

header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem 0;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    padding: 1rem;
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
